.contact__container {
  background-color: var(--color-bg1);
  padding: 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  height: auto;
  margin: auto;
  border-radius: 1rem;
}
.contact__aside {
  background-color: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  z-index: 10;
  width: auto;
}

.aside__image {
  width: 12rem;
  margin-bottom: 2rem;
}

.contact__aside h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact__details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
}

.contact__socials a {
  background-color: var(--color-bg1);
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  border: 2.5px solid transparent;
  transition: var(--transition);
}

.contact__socials a:hover {
  background-color: transparent;
  border-color: var(--color-bg1);
}
/* ======= FORM ========== */

.contact__form {
  padding: 4rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  /* gap: 1.75rem; */
  /* background-color: var(--color-bg2); */
  position: relative;
  border-radius: 14px;
  top: 0;
  border-radius: 0 14px 14px 0;
}

.form__name {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact__input {
  padding: 1.5rem 1rem;
  background-color: var(--color-bg);
  width: 100%;
  color: #fff;
  outline: none;
  box-shadow: 0 0 5px rgb(0 0 0 / 80%);
  margin: 0.9rem auto;
}

textarea {
  font-family: var(--ff-main);
  padding: 1rem;
  resize: none;
  width: 100%;
  height: 200px;
  background-color: var(--color-bg);
  color: #fff;
  outline: none;
  border: none;
  box-shadow: 0 0 5px rgb(0 0 0 / 80%);
  margin: 1rem 0;
}

.contact_btn {
  cursor: pointer;
  width: 180px;
  text-align: center;
  border-radius: 8px;
  height: 55px;
}

.contact_btn:hover {
  background-color: transparent;
}

/* =============== MEDIA QUERIES (TABLETS) =============== */

@media screen and (max-width: 850px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width: 400px){
  .contact__container {
padding: 0;
  }
}